app = "sante-plus-app"
primary_region = "iad"

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  TF_CPP_MIN_LOG_LEVEL = "3"
  PORT = "8080"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

